<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio - Marcelo Rei</title>
    <link rel="stylesheet" href="../../Assets/css/header.css">
    <link rel="stylesheet" href="../../Assets/css/headerMQ.css">
</head>
<body>
    <header>
    <div class="cabecalho">
        <div class="portfolios"><img class="rubrica" src="../../Assets/img/rubrica.png" alt="rubrica">
        <a href="https://www.games.marcelorei.com.br" target="_blank" class="portfolios game">Portfolio games</a>
        <a href="https://www.desenvolvedor.marcelorei.com.br" target="_blank" class="portfolios desenvolvimento">Portfolio desenvolvimento</a>
        </div>
        <div class="login">
            <a href="#">entrar</a>
            <a href="#">cadastrar</a>
        </div>
    </div>
    <nav>

    </nav>
    <menu class="menu-mobile">

    </menu>
    </header>
</body>
</html>